<div class="row">
    <div class="col-md-11 mx-auto dflex">
        <div class="p__services">
            <div class="row">
                <div class="col-md-3" *ngFor="let item of [].constructor(8)">
                  <div class="card m-2 hc bxs p-2">
                    <div class="card-body text-center">
                        <div class="title">
                            <h4>{{'Service'}}</h4>
                        </div>
                        <div class="ctex">
                            <div class="item">
                              <i class="fal fa-square-check"></i>
                              <small>{{'option'}}</small>
                            </div>
                            <div class="item">
                              <i class="fal fa-square-check"></i>
                              <small>{{'option'}}</small>
                            </div>
                            <div class="item">
                              <i class="fal fa-square-check"></i>
                              <small>{{'option'}}</small>
                            </div>
                            <div class="item">
                              <i class="fal fa-square"></i>
                              <small>{{'option'}}</small>
                            </div>
                        </div>
                        <div class="mt-2">
                            <button class="btn btn-p"><small>{{'Info +'}}</small></button>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="s__detail">
          <div class="row">
              <div class="col-md-12">
                <div class="card m-2 cs">
                  <div class="card-body p-2">
                        <button type="button" class="btn float-right"><i class="far fa-xmark"></i></button>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>
