.p__services {
  width: 70%;

  height: 500px;
}


.s__detail {
  width: 30%;
  height: 500px;
}

.dflex {
  display: flex;
}

.btn:focus {
  box-shadow: none;
}

.fa-xmark {
  color: rgb(124, 128, 128);
}

.hc {
  height: 243px;
}
