.p__services {
  height: 500px;
  overflow: hidden;
}


.s__detail {
  height: 500px;
  overflow: hidden;
}

.dflex {
  display: flex;
}

.btn:focus {
  box-shadow: none;
}

.fa-xmark {
  color: rgb(124, 128, 128);
}

.hc {
  height: 243px;
}


.btn-p {
  width: 70%;
  background-color: #ffff;
  border: 2px solid #008080;
  font-weight: bold;
}

.btn-p:hover {
  background-color: #008080;
  color: #fff;
}

.ctex {
  width: 100%;
  height: 75%;
  display: grid;
  justify-content: space-between;
}

.item small {
  margin-left: 25px;
}


.active-p {
  width: 70%;
  background-color: #ffff;
  border: 2px solid #008080;
  font-weight: bold;
}
