.p__services {
  height: 530px;
  overflow: hidden!important;
  transition: width .3s ease-in-out;
}


.s__detail {
  height: 530px;
  overflow: hidden!important;
  transition: width .3s ease-in-out;
}

.dflex {
  display: flex;
}

.btn:focus {
  box-shadow: none;
}

.fa-xmark {
  color: rgb(124, 128, 128);
}

.hc {
  height: 235px;
}


.btn-p {
  width: 70%;
  background-color: #ffff;
  border: 2px solid #008080;
  font-weight: bold;
}

.btn-p:hover {
  background-color: #008080;
  color: #fff;
}

.ctex {
  width: 80%;
  height: 60%;
  display: grid;
}

.item small {
  margin-left: 25px;
}


.active-p {
  width: 70%;
  background-color: #ffff;
  border: 2px solid #008080;
  font-weight: bold;
}

.fa-circle-chevron-up,.fa-circle-chevron-down {
  color: #fff;
}

.pbs {
  position: fixed;
  bottom: 5%;
  left:48%;
  transform: translate(5%,48%);
}
