.nav-link {
  color: #3171b7;
  cursor: pointer;
}

a.nav-link::before {
  content: '';
  position: absolute;
  bottom: 25%;
  width: 0px;
  height: 3px;
  background-color: #3171b7;
}

a.nav-link:hover:not(:active)::before {
  width: 20px;
  transition: width .5s ease-in-out;
}

a.nav-link:active::before{
  width: 40px;
}
