.nav-link {
  color: #008080;
  cursor: pointer;
  font-family: 'Caveat Brush', cursive;
}

a.nav-link::before {
  content: '';
  position: absolute;
  bottom: 25%;
  width: 0px;
  height: 3px;
  background-color: #008080;
}

a.nav-link:hover:not(.current)::before {
  width: 12px;
  transition: width .5s ease-in-out;
}

a.current::before{
  width: 24px;
}


.main__outlet {
  margin-top: 80px;
}

.mobile-nav {
  display: none;
}


@media only screen and (max-width:600px) {
  nav > ul {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .clip {
    display: none;
  }


}



