<nav class="navbar navbar-expand-sm fixed-top">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/home']" routerLinkActive="current"> <small>{{'About Me '}}</small></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/works']" routerLinkActive="current"><small>{{'Works'}}</small></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/services']" routerLinkActive="current"><small>{{'Services'}}</small> </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/blog']" routerLinkActive="current"><small>{{'Blog'}}</small> </a>
    </li>
  </ul>

  <div class="mobile-nav">
    A
  </div>
</nav>

<div class="main__outlet">
  <div [@outletAnimation]="preparedRoute(o)" >
    <router-outlet #o="outlet"></router-outlet>
  </div>
</div>

<div [@clip]="anima" class="clip"></div>

