.nav-link {
  color: #008080;
  cursor: pointer;
}

a.nav-link::before {
  content: '';
  position: absolute;
  bottom: 25%;
  width: 0px;
  height: 3px;
  background-color: #008080;
}

a.nav-link:hover:not(.current)::before {
  width: 12px;
  transition: width .5s ease-in-out;
}

a.current::before{
  width: 24px;
}

.main__outlet {
    width: 30%;
    height: 642px;
    background-color: #008080;
    animation: bgclip 8s linear forwards;
}


@keyframes bgclip {

  0% {
    clip-path: polygon(0 0, 59% 63%, 100% 100%, 0% 100%);
  }
  25% {
    clip-path: polygon(0 0, 59% 47%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0 0, 59% 38%, 100% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0 0, 59% 25%, 100% 100%, 0% 100%);
  }

}


