.bs {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .125);
  height: 500px;
  width: 90%;
  border: none;
}

.ps {
  position: absolute;
  width: 100%;
  height: 500px;
  top: 0%;
  overflow: hidden;
}

#cycle {
  animation: turn 5s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes turn {
  from {
      transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}


.ps-0 {
  position: fixed;
  top: 45%;
  left: 9.5%;
}

.ps-0  .btn {
  background-color: #008080;
}

.ps-0  .btn:focus {
  box-shadow: none;
}

.fa-envelope {
  color: #fff;
}



.presentation {
  text-align: justify;
  font-family: 'Nanum Brush Script', cursive;
  color:  rgb(79, 82, 82);
}

.presentation span {
  font-size: 30px;
  font-weight: bold;
}
