.bs {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .125);
  height: 500px;
  width: 90%;
  border: none;
}

.fa-paper-plane {
  color: #008080;
}

.ps {
  position: absolute;
  width: 100%;
  height: 500px;
  top: 0%;
  overflow: hidden;
}

#cycle {
  animation: turn 5s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes turn {
  from {
      transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}


.ps-0 {
  position: fixed;
  top: 13.4%;
  left: 54%;
}

.ps-0  .btn {
  background-color: #008080;
}

.ps-0  .btn:focus {
  box-shadow: none;
}

.fa-at {
  color: #fff;
}



.presentation {
  text-align: justify;
  font-family: 'Nanum Brush Script', cursive;
  color:  rgb(79, 82, 82);
}

.presentation span {
  font-size: 30px;
  font-weight: bold;
}








.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: .6em;
}
/**
* Add a transition to the label and input.
* I'm not even sure that touch-action: manipulation works on
* inputs, but hey, it's new and cool and could remove the
* pesky delay.
*/
label, input, textarea {
  transition: all 0.2s;
  touch-action: manipulation;
}

input,textarea {
  font-size: 1em;
  border: 2px solid #ccc;
  border-radius: .30rem;
  -webkit-appearance: none;
  padding: 0;
  cursor: text;
  padding: .375rem .75rem;
}

input:focus , textarea:focus{
  outline: 0;
}

label {
  text-transform: capitalize;
  letter-spacing: 0.05em;
  font-size: 10px;
  color: #ced4da;
  font-weight: bold;
}
/**
* Translate down and scale the label up to cover the placeholder,
* when following an input (with placeholder-shown support).
* Also make sure the label is only on one row, at max 2/3rds of the
* field—to make sure it scales properly and doesn't wrap.
*/
input:placeholder-shown + label , textarea:placeholder-shown + label{
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(.5rem, 2.4rem) scale(1.5);
}
/**
* By default, the placeholder should be transparent. Also, it should
* inherit the transition.
*/
::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

textarea::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
/**
* Show the placeholder when the input is focused.
*/
input:focus::-webkit-input-placeholder,textarea:focus::-webkit-input-placeholder {
  opacity: 1;
}
/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when
* there's something in the input at all.
*/
input:not(:placeholder-shown) + label,
textarea:not(:placeholder-shown) + label,
textarea:focus + label,
input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}


.actions .btn {
  background-color: #008080;
  color: #fff;
  float: right;
}

.actions .btn .fa-spinner {
  color: #fff;
}

.actions .btn:focus {
  box-shadow: none;
}
