<div class="row">
  <div class="col-md-11 mx-auto">
    <div class="row">
      <div class="col-md-9">
        <div class="card cs">
          <div class="card-header">

          </div>
          <div class="card-body">

          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card cs">
          <div class="card-body">
            <div class="menus">
              <div class="item">
                <a >
                  <i class="far fa-bars-progress"></i>
                  <span> {{'Angular\'s Projects'}}</span>
                </a>
              </div>
              <div class="item">
                <a >
                  <i class="far fa-bars-progress"></i>
                  <span> {{'Laravel\'s Projects'}}</span>
                </a>
              </div>
              <div class="item">
                <a >
                  <i class="far fa-bars-progress"></i>
                  <span> {{'React\'s Projects'}}</span>
                </a>
              </div>
              <div class="item">
                <a >
                  <i class="far fa-bars-progress"></i>
                  <span> {{'Ionic\'s Projects'}}</span>
                </a>
              </div>
              <div class="item">
                <a class="item-active">
                  <i class="far fa-bars-progress"></i>
                  <span> {{'Flutter\'s Projects'}}</span>
                </a>
              </div>
              <div class="item">
                <a >
                  <i class="far fa-bars-progress"></i>
                  <span> {{'Adobe XD\'s Projects'}}</span>
                </a>
              </div>
              <div class="item mgt">
                <a >
                  <i class="far fa-gear"></i>
                  <span> {{'Some npm modules'}}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
