<div class="row">
  <div class="col-md-11 mx-auto">
    <div class="row">
      <div class="col-md-9">
        <div class="card cs">
          <div class="card-header p-2">
            <div class="pav">
              <input type="text" class="form-control">
              <i class="far fa-magnifying-glass"></i>
              <button *ngIf="this.view === false" type="button" class="btn" (click)="switchView()">
                <i class="far fa-table-cells"></i>
              </button>
              <button *ngIf="this.view === true" type="button" class="btn" (click)="switchView()">
                <i class="far fa-table-cells-large"></i>
              </button>
            </div>
          </div>
          <div class="card-body p-2">
            <div class="row">
              <div class="col-md-12">
                <div class="tab-content" id="v-pills-tabContent">
                  <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
                      <div *ngIf="view === false" class="row">
                          <div class="col-md-3" *ngFor="let item of [].constructor(12)">
                            <div class="card m-2">
                                <div class="card-body text-center cursor">
                                      <i class="fab fa-angular fa-5x"></i>
                                </div>
                            </div>
                          </div>
                      </div>

                      <div *ngIf="view === true" class="row">
                          <div class="col-md-6" *ngFor="let item of [].constructor(4)">
                            <div class="card m-2 h25">
                                <div class="card-body p-1">
                                    <span class="float-right"><i class="fal fa-ellipsis-stroke-vertical"></i></span>
                                     <i class="fab fa-angular fa-2x"></i>
                                </div>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">B</div>
                  <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">C</div>
                  <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab">D</div>
                  <div class="tab-pane fade" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-5-tab">e</div>
                  <div class="tab-pane fade" id="v-pills-6" role="tabpanel" aria-labelledby="v-pills-6-tab">f</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card cs">
          <div class="card-body">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-1" role="tab"
                aria-controls="v-pills-1" aria-selected="true">
                <i class="fab fa-angular"></i>
                <span> {{'Angular\'s Projects'}}</span>
              </a>
              <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-2" role="tab"
                aria-controls="v-pills-2" aria-selected="false"><i class="fab fa-laravel"></i>
                <span> {{'Laravel\'s Projects'}}</span></a>
              <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-3" role="tab"
                aria-controls="v-pills-3" aria-selected="false"> <i class="fab fa-react"></i>
                <span> {{'React\'s Projects'}}</span></a>
              <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-4" role="tab"
                aria-controls="v-pills-4" aria-selected="false">
                <i class="fal fa-mobile"></i>
                <span> {{'Ionic\'s Projects'}}</span>
              </a>
              <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-5" role="tab"
                aria-controls="v-pills-5" aria-selected="false">
                <i class="fal fa-mobile"></i>
                <span> {{'Flutter\'s Projects'}}</span>
              </a>
              <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-6" role="tab"
                aria-controls="v-pills-6" aria-selected="false">
                <i class="fal fa-bezier-curve"></i>
                <span> {{'Adobe XD\'s Projects'}}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
