<div class="row">
  <div class="col-md-11 mx-auto">
    <div class="row">
      <div class="col-md-9">
        <div class="card cs">
          <div class="card-body">

          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card cs">
          <div class="card-body">
              <div class="menus">
                    <div class="item">
                        <a >
                            <i class="far fa-bars-progress"></i>
                            <span> {{'Current Project'}}</span>
                        </a>
                    </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
